# Default values for cloud.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

applications:  
  backend:
    name: backend
    replicas: 1
    port: 8090
    image:
      repository: marcopaga/plain-backend
      tag: 1
      imagePullPolicy: Always
  frontend:
    name: frontend
    replicas: 1
    port: 8091
    image:
      repository: marcopaga/plain-frontend
      tag: 1
      imagePullPolicy: Always

ingress:
  enabled: true
  hosts:
    frontend:
      host: frontend.minikube.local
    zipkin:
      host: zipkin.minikube.local
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

zipkin:
  enabled: false
  image:
    repository: openzipkin/zipkin
    tag: 2.4.4
    imagePullPolicy: IfNotPresent

security:
  networkpolicy:
    enabled: false

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #  cpu: 100m
  #  memory: 128Mi
  # requests:
  #  cpu: 100m
  #  memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}
